@import url("https://fonts.googleapis.com/css?family=Roboto:900");
@import url("https://fonts.googleapis.com/css?family=Heebo:300");

$dark: #323d3f;
$primary: #ed6f5a;
$secondary: #799199;
$enable-caret: false;
$enable-rounded: false;
$font-family-sans-serif: "Heebo", sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}
.caret-primary {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 3px;
  vertical-align: middle;
  border-top: 6px solid $primary;
  border-right: 6px solid transparent;
  border-bottom: 0 dotted;
  border-left: 6px solid transparent;
  content: "";
}

.after {
  display: block;
  // width: 90px;
  height: 2px;
  background: $primary;
}
